@import '../../variables.scss';
.latestArticleFromAllCategories {
  text-decoration: none;
  color: $link-color;
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  margin-bottom: 3em;
}

.latestArticleFromAllCategories {
  font-family: $font-family;
}

.latestArticleFromAllCategories a {
  text-decoration: none;
  color: $link-color;
}

.latestArticleFromAllCategories__article {
  margin: 1em;
}
.latestArticleFromAllCategories__article__link {
  display: flex;
}

.latestArticleFromAllCategories__article__link__details__thumbnail {
  text-align: left;
}

.latestArticleFromAllCategories__article__link__details__thumbnail img {
  width: 100%;
  height: auto;
}

.latestArticleFromAllCategories__article__link__details__name {
  font-size: 1.5em;
}

.latestArticleFromAllCategories__article__details__content {
  margin-top: 1em;
  color: $secondary-color;
}

.latestArticleFromAllCategories__article__details__info {
  margin-top: 1em;
}

.latestArticleFromAllCategories__article__details__info__name {
  font-weight: 500;
}

.latestArticleFromAllCategories__article__details__info__date {
  color: $secondary-color;
}
