@import '../../variables.scss';

.advert {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $link-color;
  border: 1px solid $secondary-color;
  height: 30em;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.advert__title {
  font-size: 2em;
}
