@import '../../variables.scss';

.articles {
  font-family: $font-family;
  padding: 1em 1em 1em 0em;
  width: 100%;
  border-radius: 0.5em;
}

.articles a {
  text-decoration: none;
  color: $link-color;
}

.articles hr {
  border: 1px solid $secondary-color;
  margin: 0;
  margin-left: 0.3em;
  width: 100%;
}

.article__link {
  display: flex;
  margin-bottom: 2em;
  margin-top: 2em;
}

.article__link__thumbnail img {
  width: 20em;
  height: auto;
}

.article__link__details {
  max-width: 80%;
  margin-left: 1em;
}

.article__link__details__name {
  font-size: 1.5em;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article__link__details__content {
  margin-top: 1em;
  color: $secondary-color;
}

.article__link__details__info {
  margin-top: 1em;
}

.article__link__details__info__name {
  font-weight: 500;
}

.article__link__details__info__date {
  color: $secondary-color;
}
