@import '../../variables.scss';

.title {
  font-family: $font-family;
  font-size: 2.2em;
  max-width: 40%;
}

.title hr {
  border: 2px solid $primary-color;
  max-width: 30%;
  margin: 0;
  margin-left: 0.3em;
}
