@import '../../variables.scss';

.home {
  overflow: auto;
}

.home__spacer {
  margin: 3em 0 1em 0;
  hr {
    border: 1px solid $secondary-color;
    margin: 0;
    width: 100%;
    opacity: 10%;
  }
}

@media screen and (max-width: 980px) {
  .home__spacer {
    margin: 1em 0 1em 0;
    hr {
      border: 1px solid $secondary-color;
      margin: 0;
      width: 100%;
      opacity: 10%;
    }
  }
}
