@import '../../variables.scss';

.category {
  font-family: $font-family;
  display: flex;
  flex-direction: row;
}

.category__left,
.category__right {
  display: flex;
  flex-direction: column;
}

.category__left {
  flex-basis: 70%;
}

.category__right {
  flex-basis: 30%;
}

@media screen and (max-width: 980px) {
}
