@import '../../variables.scss';

.featuredArticles {
  font-family: $font-family;
  display: flex;
}

.featuredArticle {
  margin: 0.5em;
}

.featuredArticles__article__link {
  text-decoration: none;
  width: 33%;
}

.featuredArticle__thumbnail {
  height: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  border-radius: 0.5em;
  color: $page-color;
}

.featuredArticle__title {
  font-size: 1.5em;
  margin-left: 0.5em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.featuredArticle__details {
  font-size: 0.8em;
  color: $page-color;
  padding: 1em;
}
