@import '../../variables.scss';

.science {
  font-family: $font-family;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.science__left,
.science__right {
  display: flex;
  flex-direction: column;
}

.science__left {
  flex-basis: 65%;
}

.science__right {
  flex-basis: 35%;
}
