@import '../../../variables.scss';

.navbar__item {
  margin-right: 3.5rem;
  font-weight: 500;
}
@media screen and (max-width: 980px) {
  .navbar__item {
    margin: 1em;
    padding: 1em;
    border-bottom: 1px solid rgba(210, 199, 199, 0.5);
  }
}
