@import '../../variables.scss';

.social {
  display: flex;
  justify-content: center;
}

.social__item {
  margin-right: 1em;
  font-size: small;
  a {
    color: $secondary-color;
  }

  svg:hover {
    transform: scale(1.15);
  }
}
